.sub-section {

}

a {
    color: #5C8595;
}

.genericon {
    font-size: 32px;
    margin-right: 16px;
}

.articles {
    margin: 60px 0 0;
}

ul.publications, ul.specifics {
    list-style: none;
}

.tldr {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #5C8595;
    padding: 8px;
    width: 100%;

}


@media all and (min-width: 480px) {
    .tldr{
        float:right;
        width: 30%;
        margin: 4px 2px 4px 12px;
    }
}


.tldr h3 {
    margin: 4px inherit 0
}

.tldr .section-lead {
    margin: 0 inherit;
    font-size: 18px;
}

ul.tldr-highlights {
    padding-left: 4px;
    list-style: none;
}
ul.sub-tldr {
    padding-left: 8px;
    list-style: none;

}

ul.sub-tldr li {
    margin-bottom: 4px;
}

footer {
    border-top: 1px solid #5C8595;
}